extends ./layouts/application.pug

block content
  h5.mt-4 Сура
    span=` ${id} `
    | &laquo;
    span=name
    | &raquo;
  .row
    .col: .pl-0
      each verse in verses || []
        p.my-1
          p.lead=verse.translation.author
          p.p-1.text-muted
            - var href = `/surah/${id}#ayat-${verse.order}`
            a(href=href).text-decoration-none.link-body-emphasis
              span.badge.bg-body-secondary.me-1=id + ':' + verse.order
              span!=verse.text
